body {
  margin: 0;
}
.header {
  position: relative;
  height: 150px;
  line-height: 150px;
  color: #FFFFFF;
  background-color: #0E6EB5;
}
.header .header__back {
  position: absolute;
  left: 0;
  width: 150px;
  text-align: center;
  font-size: 3em;
}
.header .header__back:active {
  background-color: #128be4;
}
.header .header__title {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  left: 170px;
  font-size: 3em;
}
.shop-catalog-mobile {
  position: fixed;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.shop-catalog-mobile ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.shop-catalog-mobile ul li {
  position: relative;
  border-bottom: 1px solid #EEEEEE;
  font-size: 28px;
}
.shop-catalog-mobile ul li:active {
  color: #FFFFFF;
  background-color: #128be4;
}
.shop-catalog-mobile ul li.shop-catalog-mobile__item_width-sub-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
  line-height: 150px;
  content: '\0203A';
  font-size: 2em;
  text-align: center;
}
.shop-catalog-mobile ul li a {
  display: block;
  margin: 0 150px 0 0;
  padding: 0 20px;
  line-height: 150px;
  color: #0E6EB5;
}
.shop-catalog-mobile ul li a:active {
  color: #FFFFFF;
}
.shop-catalog-mobile ul ul {
  display: none;
}
